.root {
  position: relative;
  width: 45%;
  max-width: 400px;
  margin: 0 20px;
  height: 44px;
  .search {
    position: absolute;
    border: 1px solid #e2e2e280;
    border-radius: 30px;
    padding: 12px 20px 12px 44px;
    width: 100%;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 16px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;

    &:hover {
      border: 1px solid #ff926680;
    }

    &:focus {
      border: 1px solid #e4410080;
    }
  }

  .icon {
    position: absolute;
    left: 10px;
    top: 9px;
    cursor: pointer;
    opacity: 0.7;
    z-index: 10;
    transition: all 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  .clear {
    position: absolute;
    right: 12px;
    top: 14px;
    cursor: pointer;
    opacity: 0.2;
    z-index: 10;
    width: 18px;
    transition: all 0.2s ease-in-out;

    &:hover {
      opacity: 0.4;
    }
  }

  @media (max-width: 650px) {
    margin-top: 30px;
    width: 70%;
    margin-inline: 0;
  }
}
